* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.board {
    width: 80%;
    height: 68%;
    position: relative;
    top: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border: 2px solid black;
    background-color: rgb(106, 105, 105);
    perspective: 1000px;
}

.memory {
    width: calc(25% - 64px);
    height: calc(36% - 55px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: orange;
    border: 2px solid rgb(246, 174, 115);
    backface-visibility: hidden;
}

img {
    width: 100px;
    height: 100px;
}

.memory.flip {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
}
.gcard:active {
    transform: scale(.97);
    transition: transform .2s;
}